#heading1{
    text-align: center;
}

#main-cointainer{
    display: flex;
    border: 2px solid cyan;
    /* flex-direction: row; */
    justify-content: center;
    height: 70vh;
    width: 50vw;
    align-items: center;
}

.divi{
    border: 2px solid green;
    height: 100px;
    width: 100px;
    margin: 20px;
    /* margin-top: 17vh; */
}
